@import "tailwindcss";

:root {
  --background: #e0e5ec;
  --foreground: #171717;
}

html {
  scroll-behavior: smooth;
}


.dark {
  --background: #2c2f33;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.gradient-bg {
  position: absolute;
  width: 50vw;
  height: 50vh;
  filter: blur(100px);
  z-index: -1;
  border-radius: 9999px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* .neo-button-light { @apply hover:shadow-neo-light-inset active:shadow-neo-light-inset; }  // Commented out due to invalid @apply usage */
  .neo-button-light {
    box-shadow: 5px 5px 10px #bec3c9, -5px -5px 10px #ffffff;
  }

  .neo-button-light:hover,
  .neo-button-light:active {
    box-shadow: inset 5px 5px 10px #bec3c9, inset -5px -5px 10px #ffffff;
  }

  .dark .neo-button-dark {
    box-shadow: 5px 5px 10px #1e2022, -5px -5px 10px #3a3e44;
  }

  .dark .neo-button-dark:hover,
  .dark .neo-button-dark:active {
    box-shadow: inset 5px 5px 10px #1e2022, inset -5px -5px 10px #3a3e44;
  }

  .neo-card-light {
    box-shadow: 5px 5px 10px #bec3c9, -5px -5px 10px #ffffff;
  }

  .dark .neo-card-dark {
    box-shadow: 5px 5px 10px #1e2022, -5px -5px 10px #3a3e44;
  }
}